<p>Merci d’avoir candidaté.e à la sixième session de formation au métier de développeur web et web mobile qui se déroulera à Lens.</p>

<p>Vous allez recevoir une réponse à cette candidature entre le 12 et le 14 février 2020.
Si votre dossier est retenu, vous serez invité.e en entretien de motivation, dernière étape du recrutement !</p>

<p><strong>6ème session Développeur Web et Web mobile à Lens</strong></p>

<ul>
<li>Dates de formation : 16 mars au 24 septembre 2020 (période de stage incluse)</li>
<li>Inscriptions : du 10 Janvier au 9 février</li>
<li>Analyse des candidatures : du 10 au 11 février 2020</li>
<li>Entretiens de motivation : du 18 au 21 février 2020</li>
</ul>


<p>La formation est gratuite grâce au soutien de la Communauté d'Agglomération de Lens Liévin et de la Grande Ecole du Numérique</p>

<p>Pour tout demande d'information d'ordre général (dates, dossier inscription, etc) : <a href="mailto:{{ generalContactEmail }}">{{ generalContactEmail }}</a></p>

<p>Pour tout demande d'information d'ordre technique (code, test) : <a href="mailto:{{ technicalContactEmail }}">{{ technicalContactEmail }}</a></p>

<p>Vous pouvez retrouver votre condidature à l'adresse suivante : {{ applicationUrl }}</p>

